<meta charset="utf-8">
<title>{$title}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="renderer" content="webkit">

{if isset($keywords)}
<meta name="keywords" content="{$keywords}">
{/if}
{if isset($description)}
<meta name="description" content="{$description}">
{/if}

<link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico" />

<link href="__CDN__/assets/css/frontend{$Think.config.app_debug?'':'.min'}.css?v={$Think.config.site.version}" rel="stylesheet">
<link href="__CDN__/assets/css/all.css?v={$Think.config.site.version}" rel="stylesheet">

<script type="text/javascript">
    var require = {
        config: {$config|json_encode}
    };
</script>