<!DOCTYPE html>
<html>
  <head>
    {include file="common/meta" /}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="row g-0">
        <div
          class="nav h-100 w-100 d-flex flex-column justify-content-between align-items-center py-5 position-fixed ms-5"
          style="max-width: 13rem"
        >
          <img
            class="w-50"
            src="__CDN__/assets/img/frontend/home page-月園logo@2x.png"
            alt="月園logo"
          />
          <div>
            <a class="d-block text-decoration-none text-dark fw-bold" style="letter-spacing: 1.9rem;" href="javascripg:;">首頁</a>
            <a class="d-block text-decoration-none text-dark fw-bold" style="letter-spacing: 1.9rem;" href="javascripg:;">日常</a>
            <a class="d-block text-decoration-none text-dark fw-bold" href="javascripg:;">一日義工</a>
            <a class="d-block text-decoration-none text-dark fw-bold" href="javascripg:;">認養團員</a>
            <a class="d-block text-decoration-none text-dark fw-bold" style="letter-spacing: 1.9rem;" href="javascripg:;">捐款</a>
            <a class="d-block text-decoration-none text-dark fw-bold" href="javascripg:;">聯繫方式</a>
          </div>
        </div>
      <div class="col-md-6 col-12 position-relative">
        
      </div>
      <div class="col-md-6 col-12">
        <div class="position-relative">
          <!-- Swiper -->
          <div class="swiper mySwiper">
            <div class="swiper-wrapper"></div>
          </div>
        </div>

        <div class="d-flex justify-content-between">
            <div class="w-75 d-flex">
                <div class="w-100 story d-flex justify-content-center align-items-center">
                    <p class="fs-1 text"><span class="fs-4 text">阮ㄟ</span>故事</p>
                </div>
                <div class="w-100 d-flex align-items-end">
                    <img style="max-height: 2rem;" src="__CDN__/assets/img/frontend/home/home page-down-箭頭@2x.png" alt="">
                </div>
            </div>
        </div>
        <h1 class="fs-6 text">1111111111</h1>
        
      </div>
    </div>
    {include file="common/script" /}
    <script>
      // 輪播圖
      const bannerLists = [
        "FM-home page photo-.jpg",
        "FM-home page photo--2.jpg",
        "FM-home page photo--3.jpg",
        "FM-home page photo--4.jpg",
        "FM-home page photo--5.jpg",
        "FM-home page photo--6.jpg",
        "FM-home page photo--7.jpg",
      ];
      let bannerListDOM = '';
      const swiperWrapper = document.querySelector(".swiper-wrapper");
      bannerLists.forEach((bannerList, index) => {
        bannerListDOM += `
            <div class="swiper-slide">
                <img src="__CDN__/assets/img/frontend/home/banner/${bannerLists[index]}"/>
            </div>
            `;
      });
      swiperWrapper.insertAdjacentHTML("afterbegin", bannerListDOM);

      // 輪播控制
      const swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        loop: true,
        effect: "fade",
        // lidesPerView:'auto',
        autoplay: {
          delay: 2000,
          disableOnInteraction: false,
        },
        // navigation: {
        //   nextEl: ".swiper-button-next",
        //   prevEl: ".swiper-button-prev",
        // },
        // pagination: {
        //   el: ".swiper-pagination",
        //   clickable: true,
        // },
      });
    </script>
  </body>
</html>
