<!DOCTYPE html>
<html>
  <head>
    {include file="common/meta" /}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="genSenRounded bg_a">
    <div class="container">
      <div class="row g-0">
        <div class="col-md-1">{include file="common/nav" /}</div>
        <div class="col-md-5 col-12 position-relative">
          <img
            style="top: 1rem; left: 25%; z-index: 99"
            class="logo position-absolute d-none d-md-block"
            src="__CDN__/assets/img/frontend/home page-流浪動物照護協會@2x.png"
            alt=""
          />
          <img
            style="top: 35%; right: 0%"
            class="w-50 position-absolute"
            src="__CDN__/assets/img/frontend/home/home page-deco-dog-1@2x.png"
            alt=""
          />
        </div>
        <div class="col-md-6 col-12">
          <div class="container">
            <div class="position-relative">
              <!-- Swiper -->
              <div class="swiper mySwiper">
                <div class="swiper-wrapper"></div>
              </div>
            </div>

            <div class="d-flex justify-content-between mt-4">
              <div class="w-50 d-flex">
                <div
                  class="w-100 story d-flex justify-content-start align-items-center"
                >
                  <p class="fs-custom-01 mb-0 genSenRounded">
                    <span class="fs-4">阮ㄟ</span>故事
                  </p>
                </div>
                <div class="w-100 d-flex align-items-center">
                  <img
                    style="max-height: 2rem"
                    src="__CDN__/assets/img/frontend/home/home page-down-箭頭@2x.png"
                    alt=""
                  />
                </div>
              </div>
            </div>

            <p class="fs-2 mb-1">大家好！我們是</p>
            <h1 class="fs-4">社團法人臺中市<br />月園流浪動物照護協會</h1>

            <div class="text-secondary">
              <p>
                十幾年來，<br />
                林媽媽和先生靠著白天工地做工，救援了無數的流浪貓狗，<br />
                於民國108年王田交流道附近，<br />
                扛下龐大貸款、義無反顧的承租大片土地建設園區！<br />
                為的就是提供那些在冰冷長街受到不友善對待的孩子們，一個可以——
                <br />
                不再需要躲藏、不再害怕的避風港-台中林媽媽流浪狗之家！<br />
                很快的，園區有越來越多志同道合的年輕人加入林媽媽的行列，<br />
                經過訓練成為照護員，像是一家人盡心盡力的一同守護流浪動物，<br />
                並在民國110年合法立案『社團法人臺中市月園流浪動物照護協會』
              </p>
              <p>
                我們致力於— <br />
                ・
                專業的收容、照護和送養（在這裡每個生命備受重視、獨一無二！）<br />
                ・ 積極推廣TNVR和生命教育！ —
                希望藉著我們的力量，讓台灣成為亞洲地區的動保模範！
              </p>
              <p>
                園區歡迎大家前來參訪 : <br />
                ・ 體驗一日義工 <br />
                ・ 認養園區狗狗 <br />
                ・ 接受捐贈物資 —
                但因人力有限、照護工作繁瑣，加上園區沒有門牌地址！<br />
                以上活動均採預約制，請於線上和管理員先行預約，<br />
                無預約者請勿進入感謝您的體諒！<br />
                照護流浪動物需投入大量人力、物力，<br />
                如果您也認同我們的理念，歡迎捐款用力的支持我們！
              </p>
            </div>

            <!-- <p>捐款資訊：</p>
          <div class="text-secondary border border-secondary border-2 bg-white rounded-1 p-3 mb-5 me-5">
          <p>- 玉山銀行 (808) 1399 940 169685</p>
          <p>- 合作金庫 (006) 1070 717 824727 </p>
          <p>立案字號：中市社團字第1100046395號</p>
          <p class="m-0">公益募款核准文號：衛部救字第1111362371號</p>
          </div>
  
          <p>物資捐贈代收處：</p>
          <div class="text-secondary border border-secondary border-2 bg-white rounded-1 p-3 mb-5 me-5">
          <p class="m-0">- (500)彰化縣彰化市一心南街210巷1號<br>
            請指名給：台中林媽媽流浪狗之家</p>
          </div>
          <div>
            <p class="fs-5 text-center">林媽媽和全體照護員感謝您的愛心！</p> -->
            <p class="fs-4 text-center">也可以線上捐款喔：</p>
            <div class="d-flex justify-content-center mt-2 mb-4">
              <img
                src="__CDN__/assets/img/frontend/home/Icon awesome-arrow-down.svg"
                alt=""
              />
            </div>
            <div class="d-flex justify-content-center mt-2 mb-4">
              <a class="w-25" href="__CDN__/index/donate">
                <img
                  class="w-100"
                  src="__CDN__/assets/img/frontend/home/heart-beat-.gif"
                  alt=""
                />
              </a>
            </div>
            <img
              class="w-100"
              src="__CDN__/assets/img/frontend/home/home page-deco-donnation-@2x.png"
              alt=""
            />
          </div>

          <div class="d-flex justify-content-between mt-4">
            <div class="w-50 d-flex">
              <div
                class="w-100 story d-flex justify-content-start align-items-center"
              >
                <p class="fs-custom-01 mb-0 genSenRounded">
                  <span class="fs-4">阮ㄟ</span>任務
                </p>
              </div>
              <div class="w-100 d-flex align-items-center">
                <img
                  style="max-height: 2rem"
                  src="__CDN__/assets/img/frontend/home/home page-down-箭頭@2x.png"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div>
            <p class="mission position-relative">
              ㄧ，將每一個毛孩的身、心健康照顧完善，尤其重症犬、老犬、癱瘓犬等專業照護
            </p>
            <p class="mission position-relative">
              二，經由專業照護，減輕認養人的負擔，增加毛孩送養成功的機會，即使
              沒被認養，也能在園區享有同寵物犬健康、快樂的安穩生活，善始善終
            </p>
            <p class="mission position-relative">
              三，執行TNVR政策，實現減少流浪貓、狗源頭數量
            </p>
            <p class="mission position-relative">
              四，積極與學術單位、團體機構合作，推廣生命教育！讓民眾能透過正確
              的管道建立動保觀念和盡一份心力，期盼有更多年輕人一同加入動保行列
            </p>
          </div>
          <div class="mt-5">
            <div class="d-flex justify-content-end">
              <div class="d-flex">
                <p class="fs-3">請追蹤我們：</p>
                <img
                  class="w-25"
                  src="__CDN__/assets/img/frontend/home/home page-follow us-箭頭-@2x.png"
                  alt=""
                />
                <a
                  href="https://www.facebook.com/fullmoonstrayanimalsanctuary"
                  style="z-index: 10"
                >
                  <img
                    class="w-50"
                    src="__CDN__/assets/img/frontend/home/home page-icon-facebook@2x.png"
                    alt=""
                  />
                </a>
              </div>
            </div>
            <img
              style="margin-top: -10%"
              class="w-50"
              src="__CDN__/assets/img/frontend/home/doggie_1.gif"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    {include file="common/script" /}
    <script>
      // 輪播圖
      const bannerLists = [
        {if $bannerList}
        {foreach $bannerList as $banner}
        "{$banner}",
        {/foreach}
        {/if}
      ];
      let bannerListDOM = '';
      const swiperWrapper = document.querySelector(".swiper-wrapper");
      bannerLists.forEach((bannerList, index) => {
        bannerListDOM += `
            <div class="swiper-slide">
                <img src="__CDN__${bannerLists[index]}"/>
            </div>
            `;
      });
      swiperWrapper.insertAdjacentHTML("afterbegin", bannerListDOM);

      // 輪播控制
      const swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        loop: true,
        effect: "fade",
        // lidesPerView:'auto',
        autoplay: {
          delay: 2000,
          disableOnInteraction: false,
        },
        // navigation: {
        //   nextEl: ".swiper-button-next",
        //   prevEl: ".swiper-button-prev",
        // },
        // pagination: {
        //   el: ".swiper-pagination",
        //   clickable: true,
        // },
      });
    </script>
  </body>
</html>
