<!DOCTYPE html>
<html>
  <head>
    {include file="common/meta" /}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="genSenRounded bg_a">
    <div class="row g-0">
      <div class="col-md-1">{include file="common/nav" /}</div>
      <div class="col-md-5 col-12 position-relative">
        <img
          style="top: 1rem; left: 25%; z-index: 99"
          class="logo position-absolute d-none d-md-block"
          src="__CDN__/assets/img/frontend/home page-流浪動物照護協會@2x.png"
          alt=""
        />
        <div class="m-md-5 p-md-5 d-flex flex-column min-vh-100" >
          <div class="flex-grow-1">
            <div class="d-flex ms-md-5 my-md-4">
              <div class="story d-flex justify-content-start align-items-center">
                <img
                  style="max-height: 3.5rem"
                  src="__CDN__/assets/img/frontend/donate/捐款頁-捐款icon-@2x.png"
                  alt=""
                />
              </div>
              <div class="w-100 d-flex align-items-center">
                <p class="fs-custom-01 mb-0 genSenRounded">捐款</p>
              </div>
            </div>
            <div class="ms-md-5 my-md-4">
              <p style="color: #00000080;">公益不是少數人的大愛而是多數人的小愛!協會的收入/支出將定期更新於各官網平台，方便大家隨時查詢、關注後續的運用與效益!善款均可依綜合所得稅申報辦法列舉扣除</p>
            </div>
          </div>
            <div class="ms-md-5 my-md-4 mt-auto">
              <h3>林媽媽和全體照護員感謝您的愛心!</h3>
            </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="d-inline-block bg w-100 min-vh-100">
          <div class="container p-md-5">
            <div class="d-flex flex-column w-75">
              <a class="fs-3 w-50 text-dark text-decoration-none d-flex justify-content-between" href="donate/transfer">
                匯款捐款
                <img style="max-height: 2rem;" src="__CDN__/assets/img/frontend/donate/捐款頁-我要捐款箭頭-right-@2x.png" alt="">
              </a>
              <a class="fs-3 w-50 my-2 text-dark text-decoration-none d-flex justify-content-between" href="donate/onlinepayment">
                信用卡捐款
                <img style="max-height: 2rem;" src="__CDN__/assets/img/frontend/donate/捐款頁-我要捐款箭頭-right-@2x.png" alt="">
              </a>
              <a class="fs-3 w-50 my-2 text-dark text-decoration-none d-flex justify-content-between" href="donate/orders">
                捐款紀錄查詢
                <img style="max-height: 2rem;" src="__CDN__/assets/img/frontend/donate/捐款頁-我要捐款箭頭-right-@2x.png" alt="">
              </a>
              <a class="fs-3 w-50 my-2 text-dark text-decoration-none d-flex justify-content-between" href="donate/credit">
                捐款芳名錄
                <img style="max-height: 2rem;" src="__CDN__/assets/img/frontend/donate/捐款頁-我要捐款箭頭-right-@2x.png" alt="">
              </a>
            </div>
            <!-- <img
              class="w-75"
              src="__CDN__/assets/img/frontend/donate/捐款頁-紀錄查詢-deco-小狗.png"
              alt=""
            /> -->
          </div>
        </div>
      </div>
    </div>
    {include file="common/script" /}
    <script>
      const donetSerchCate = document.querySelectorAll(
        'input[name="donetSerchCate"]'
      );
      const donetUsername = document.querySelector('input[name="username"]');
      const AccNo_wrap = document.querySelector("#AccNo_wrap");
      const card4no_wrap = document.querySelector("#card4no_wrap");
      donetSerchCate.forEach((element, index) => {
        
        element.checked = index === 0 ? true : false;
        if (element.checked)
          // donetUsername.placeholder = `請輸入${element.labels[0].innerHTML}`;

        element.addEventListener("change", (e) => {
          console.log(e)
          // donetUsername.placeholder = `請輸入${e.target.labels[0].innerHTML}`;
        });
      });

      //送出的Loading
      // const submit = document.querySelector('#submit');
      // submit.addEventListener('click',()=>{
      //   submit.children[0].classList.remove('d-none')
      // })
    </script>
    <style>
      .bg{
        background: url('__CDN__/assets/img/frontend/donate/捐款頁-紀錄查詢-deco-小狗.png') no-repeat;
        background-size: 60%;
        background-position-y: 130%;
      }
    </style>
  </body>
  <!-- <div id="toast-container" class="toast-top-center"><div class="toast toast-success" aria-live="assertive" style="display: block;"><button type="button" class="toast-close-button" role="button">×</button><div class="toast-message">[捐款金額]必須大於0</div></div></div> -->
</html>
