<!DOCTYPE html>
<html>
  <head>
    {include file="common/meta" /}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="genSenRounded bg_a">
    <div class="row g-0">
      <div class="col-md-1">{include file="common/nav" /}</div>
      <div class="col-md-5 col-12 position-relative d-md-block d-none">
        <img
          style="top: 1rem; left: 25%; z-index: 99"
          class="logo position-absolute d-none d-md-block"
          src="__CDN__/assets/img/frontend/home page-流浪動物照護協會@2x.png"
          alt=""
        />
        <div class="m-md-5 p-md-5 d-flex flex-column min-vh-100" >
          <div class="flex-grow-1">
            <div class="d-flex ms-md-5 my-md-4">
              <div class="story d-flex justify-content-start align-items-center">
                <img
                  style="max-height: 3.5rem"
                  src="__CDN__/assets/img/frontend/donate/捐款頁-捐款icon-@2x.png"
                  alt=""
                />
              </div>
              <div class="w-100 d-flex align-items-center">
                <p class="fs-custom-01 mb-0 genSenRounded">捐款</p>
              </div>
            </div>
            <div class="ms-md-5 my-md-4">
              <p style="color: #00000080;">公益不是少數人的大愛而是多數人的小愛!協會的收入/支出將定期更新於各官網平台，方便大家隨時查詢、關注後續的運用與效益!善款均可依綜合所得稅申報辦法列舉扣除</p>
            </div>
          </div>
            <div class="ms-md-5 my-md-4 mt-auto">
              <h3>林媽媽和全體照護員感謝您的愛心!</h3>
            </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="container p-md-5">

          <div class="flex-grow-1 d-block d-md-none">
            <div class="d-flex ms-md-5 my-md-4">
              <div class="story d-flex justify-content-start align-items-center">
                <img
                  style="max-height: 3.5rem"
                  src="__CDN__/assets/img/frontend/donate/捐款頁-捐款icon-@2x.png"
                  alt=""
                />
              </div>
              <div class="w-100 d-flex align-items-center">
                <p class="fs-custom-01 mb-0 genSenRounded">捐款</p>
              </div>
            </div>
            <div class="ms-md-5 my-md-4">
              <p style="color: #00000080;">公益不是少數人的大愛而是多數人的小愛!協會的收入/支出將定期更新於各官網平台，方便大家隨時查詢、關注後續的運用與效益!善款均可依綜合所得稅申報辦法列舉扣除</p>
            </div>
            <hr>
          </div>
          
            <div class="d-flex mb-4">
              <h2 class="me-3 position-relative">
                匯款捐款
                <img style="max-height: 1.5rem;" src="__CDN__/assets/img/frontend/donate/捐款頁-紀錄查詢-向下箭頭@2x.png" alt="">
                <img class="position-absolute" style="max-height: 1rem; top: 2.5rem;left: 0;" src="__CDN__/assets/img/frontend/donate/组 323.png" alt="">
              </h2>
              <a class="text-decoration-none text-dark fs-3 ms-3" href="#" onclick="history.back()">
                回上一頁
                <img style="max-height: 1.5rem;" src="__CDN__/assets/img/frontend/donate/捐款頁-紀錄查詢-向上箭頭@2x.png" alt="">
              </a>
            </div>

            <p>捐款資訊：</p>
            <div class="text-secondary border border-secondary border-2 bg-white rounded-1 p-3 mb-5 me-5">
              <p>- 玉山銀行 (808) 1399 940 169685</p>
              <p>- 合作金庫 (006) 1070 717 824727 </p>
              <p>立案字號：中市社團字第1100046395號</p>
              <p class="m-0">公益募款核准文號：衛部救字第1111362371號</p>
            </div>

            <p>物資捐贈代收處：</p>
            <div class="text-secondary border border-secondary border-2 bg-white rounded-1 p-3 mb-5 me-5">
              <p class="m-0">- (500)彰化縣彰化市一心南街210巷1號<br>
              請指名給：台中林媽媽流浪狗之家</p>
            </div>
            <div class="d-flex justify-content-end">
            <a href="receipt" class="fs-4 text-center text-decoration-none text-dark">
              匯款完成，點我塡寫抵稅收據表單
            <img style="max-height: 1.5rem;" src="__CDN__/assets/img/frontend/donate/捐款頁-捐款紀錄查詢icon@2x.png" alt="">
            </a>
        </div>
      </div>
    </div>
    {include file="common/script" /}
  </body>
</html>
