@font-face {
    font-family: 'GenSenRounded';
    src: url('../../fonts/custom/GenSenRounded-B.woff') format("woff"),
           url('../../fonts/custom/GenSenRoundedTW-B-01.ttf') format("truetype"),
           url('../../fonts/custom/GenSenRoundedTW-B-01.eot') format("embedded-opentype");
  }
.genSenRounded{
    font-family: 'GenSenRounded';
}


body.bg_a {
    background: 
    /* url("../../img/frontend/home page-流浪動物照護協會@2x.png") no-repeat 30% 6%, */
    url("../../img/frontend/home page-背景-yellow-moon@2x.png") no-repeat 5% 50%,
    #f8f4d433;
    /* background-size: 25%, 43%; */
    background-size: 43%;
    background-attachment: fixed;
}
body.bg_b {
    background: 
    /* url("../../img/frontend/home page-流浪動物照護協會@2x.png") no-repeat 30% 6%, */
    url("../../img/frontend/home page-背景-yellow-moon@2x.png") no-repeat 125% -800%,
    #f8f4d433;
    /* background-size: 25%, 43%; */
    background-size: 43%;
    background-attachment: fixed;
}
body.bg_c {
    background: #f8f4d433;
}
.logo{
    max-width: 380px;
}
.nav{
    background: hsla(0, 0%, 100%, .25);
    /* -webkit-backdrop-filter: blur(5px);     */
    /* backdrop-filter: blur(5px) */
}
.nav-m{
    background: hsla(0, 0%, 100%, .25)!important;
    -webkit-backdrop-filter: blur(5px);    
    backdrop-filter: blur(5px)
}
.logo-m{
    width: 2rem;
}
.logo-title-m{
    height: 2rem;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.story{
    background: url("../../img/frontend/home/home page-底圖裝飾-mark pen@2x.png") no-repeat;
    background-position: 0%;
    background-size: contain;
    /* height: 10rem; */
}

.fs-custom-01{
    font-size: 3rem;
}
.fs-custom-02{
    font-size: 2.3rem;
}

.bd-callout{
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
}

.mission::before{
    background-image: url("../../img/frontend/home/home page-deco-star-@2x.png");
    content: '';
    position: absolute;
    background-size: cover;
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: -2.5rem;
}

.bg_daily{
    background: 
    url("../../img/frontend/daily/日常頁-裝飾底圖@2x.png") no-repeat 5% 50%,
    #bdccd440;
    /* #BDCCD4; */
    /* background-size: 25%, 43%; */
    background-size: cover;
    background-attachment: fixed;
}

.color-daily01{
    color: #00000080;
}
.color-daily02{
    color: #7171B0;
}

.contact_left img{
    width: 100%;
}

.adopt_left_bg{
    background: url("../../img/frontend/adopt/認養頁面-底圖裝飾-小月亮群@2x.png");
    background-size: contain;
}

.order_wrap{
    background: url("../../img/frontend/donate/捐款頁-紀錄查詢-deco-小狗.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

@media screen and (max-width: 1400px) {}
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {
    body {
        background: #f8f4d433;
        background-size: 25%, 43%;
        background-attachment: fixed;
    }
}
@media screen and (max-width: 576px) {}
@media screen and (max-width: 480px) {}