<nav
  class="nav d-md-flex d-none h-100 w-100 position-fixed"
  style="max-width: 13rem; z-index: 10"
>
  <div class="position-relative h-100 w-100">
    <img
      class="w-50 position-absolute m-auto"
      src="__CDN__/assets/img/frontend/home page-月園logo@2x.png"
      alt="月園logo"
      style="top: 5%; left: 0;right: 0;"
    />
    <div class="position-absolute w-100" style="top: 50%;">
      <a
        class="d-block text-decoration-none text-dark fw-bold text-center"
        href="__CDN__/"
        >首&emsp;&emsp;頁
        <img style="max-width:1rem;" class="ms-1" src="__CDN__/assets/img/frontend/home page-navigation-left-箭頭@2x.png" alt="">
        </a
        >
      <a
        class="d-block text-decoration-none text-dark fw-bold text-center"
        href="__CDN__/index/daily"
        >日&emsp;&emsp;常
        <img style="max-width:1rem;" class="ms-1" src="__CDN__/assets/img/frontend/home page-navigation-left-箭頭@2x.png" alt="">
        </a
      >
      <a
        class="d-block text-decoration-none text-dark fw-bold text-center"
        href="__CDN__/index/volunteer"
        >一日義工
        <img style="max-width:1rem;" class="ms-1" src="__CDN__/assets/img/frontend/home page-navigation-left-箭頭@2x.png" alt="">
      </a>
      <a
        class="d-block text-decoration-none text-dark fw-bold text-center"
        href="__CDN__/index/adopt"
        >認養團員
        <img style="max-width:1rem;" class="ms-1" src="__CDN__/assets/img/frontend/home page-navigation-left-箭頭@2x.png" alt="">
      </a>
      <a
        class="d-block text-decoration-none text-dark fw-bold text-center"
        href="__CDN__/index/donate"
        >捐&emsp;&emsp;款
        <img style="max-width:1rem;" class="ms-1" src="__CDN__/assets/img/frontend/home page-navigation-left-箭頭@2x.png" alt="">
      </a>
      <a
        class="d-block text-decoration-none text-dark fw-bold text-center"
        href="__CDN__/index/contact"
        >聯繫方式
        <img style="max-width:1rem;" class="ms-1" src="__CDN__/assets/img/frontend/home page-navigation-left-箭頭@2x.png" alt="">
      </a>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light nav-m nav-m d-md-none">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        class="logo-m"
        src="__CDN__/assets/img/frontend/home page-月園logo@2x.png"
        alt="月園logo"
      />
      <img
        class="logo-title-m"
        src="__CDN__/assets/img/frontend/home page-背景-yellow-moon@2x.png"
        alt="月園logo"
      />
      <img
        class="logo-title-m"
        src="__CDN__/assets/img/frontend/home page-流浪動物照護協會@2x.png"
        alt="月園logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="d-block text-decoration-none text-dark fw-bold text-center nav-link active"
            href="__CDN__/"
            >首頁</a
          >
        </li>
        <li class="nav-item">
          <a
            class="d-block text-decoration-none text-dark fw-bold text-center nav-link"
            href="__CDN__/index/daily"
            >日常</a
          >
        </li>
        <li class="nav-item">
          <a
            class="d-block text-decoration-none text-dark fw-bold text-center nav-link"
            href="__CDN__/index/volunteer"
            >一日義工</a
          >
        </li>
        <li class="nav-item">
          <a
            class="d-block text-decoration-none text-dark fw-bold text-center nav-link"
            href="__CDN__/index/adopt"
            >認養團員</a
          >
        </li>
        <li class="nav-item">
          <a
            class="d-block text-decoration-none text-dark fw-bold text-center nav-link"
            href="__CDN__/index/donate"
            >捐款</a
          >
        </li>
        <li class="nav-item">
          <a
            class="d-block text-decoration-none text-dark fw-bold text-center nav-link"
            href="__CDN__/index/contact"
            >聯繫方式</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
