<nav
  class="nav d-md-flex d-none h-100 w-100 d-flex flex-column justify-content-between align-items-center py-5 position-fixed ms-5"
  style="max-width: 13rem; z-index: 10"
>
  <img
    class="w-50"
    src="__CDN__/assets/img/frontend/home page-月園logo@2x.png"
    alt="月園logo"
  />
  <div>
    <a
      class="d-block text-decoration-none text-dark fw-bold"
      style="letter-spacing: 1.9rem"
      href="javascript:;"
      >首頁</a
    >
    <a
      class="d-block text-decoration-none text-dark fw-bold"
      style="letter-spacing: 1.9rem"
      href="javascript:;"
      >日常</a
    >
    <a
      class="d-block text-decoration-none text-dark fw-bold"
      href="javascript:;"
      >一日義工</a
    >
    <a
      class="d-block text-decoration-none text-dark fw-bold"
      href="javascript:;"
      >認養團員</a
    >
    <a
      class="d-block text-decoration-none text-dark fw-bold"
      style="letter-spacing: 1.9rem"
      href="javascript:;"
      >捐款</a
    >
    <a
      class="d-block text-decoration-none text-dark fw-bold"
      href="javascript:;"
      >聯繫方式</a
    >
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light nav-m nav-m d-md-none">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        class="logo-m"
        src="__CDN__/assets/img/frontend/home page-月園logo@2x.png"
        alt="月園logo"
      />
      <img
        class="logo-title-m"
        src="__CDN__/assets/img/frontend/home page-背景-yellow-moon@2x.png"
        alt="月園logo"
      />
      <img
        class="logo-title-m"
        src="__CDN__/assets/img/frontend/home page-流浪動物照護協會@2x.png"
        alt="月園logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="d-block text-decoration-none text-dark fw-bold text-center nav-link active"
            href="javascript:;"
            >首頁</a
          >
        </li>
        <li class="nav-item">
          <a
            class="d-block text-decoration-none text-dark fw-bold text-center nav-link"
            href="javascript:;"
            >日常</a
          >
        </li>
        <li class="nav-item">
          <a
            class="d-block text-decoration-none text-dark fw-bold text-center nav-link"
            href="javascript:;"
            >一日義工</a
          >
        </li>
        <li class="nav-item">
          <a
            class="d-block text-decoration-none text-dark fw-bold text-center nav-link"
            href="javascript:;"
            >認養團員</a
          >
        </li>
        <li class="nav-item">
          <a
            class="d-block text-decoration-none text-dark fw-bold text-center nav-link"
            href="javascript:;"
            >捐款</a
          >
        </li>
        <li class="nav-item">
          <a
            class="d-block text-decoration-none text-dark fw-bold text-center nav-link"
            href="javascript:;"
            >聯繫方式</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
