<!-- <script src="__CDN__/assets/js/require{$Think.config.app_debug?'':'.min'}.js" data-main="__CDN__/assets/js/require-frontend{$Think.config.app_debug?'':'.min'}.js?v={$site.version|htmlentities}"></script> -->
<!-- <script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script> -->
<script src="__CDN__/assets/js/frontend/953c0bfe5c.js"></script>
<script src="__CDN__/assets/js/frontend/bootstrap.bundle.min.js"></script>
<!-- <script src="__CDN__/assets/js/frontend/bootstrap.bundle.min.js.map"></script> -->
<!-- <script src="__CDN__/assets/js/frontend/donate.js"></script> -->
<script src="__CDN__/assets/js/frontend/email.min.js"></script>
<script src="__CDN__/assets/js/frontend/fancybox.umd.js"></script>
<!-- <script src="__CDN__/assets/frontend/js/index.js"></script> -->
<script src="__CDN__/assets/js/frontend/notifications.js"></script>
<script src="__CDN__/assets/js/frontend/swiper-bundle.min.js"></script>
<!-- <script src="__CDN__/assets/js/frontend/swiper-bundle.min.js.map"></script> -->
<!-- <script src="__CDN__/assets/js/frontend/user.js"></script> -->