<!DOCTYPE html>
<html>
    <head>
        {include file="common/meta" /}
        <link href="__CDN__/assets/css/user.css?v={$Think.config.site.version}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container isrelative">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{:url('/')}">{$site.name}</a>
                    {if $hassidenav}
                    <div class="sidebar-toggle"><i class="fa fa-bars"></i></div>
                    {/if}
                </div>
                {if $user}
                <div class="right-top-name">{$user->username}</div>
                {/if}
            </div>
        </nav>

        <main class="content">
            {__CONTENT__}
        </main>

        <footer class="footer" style="clear:both">
            <p class="copyright">Copyright&nbsp;©&nbsp;2017-{:date('Y',time())} {$site.name} All Rights Reserved {$site.beian|htmlentities}</p>
        </footer>

        {include file="common/script" /}

    </body>

</html>