<!DOCTYPE html>
<html>
  <head>
    {include file="common/meta" /}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="genSenRounded bg_c">
    <div class="row g-0">
      <div class="col-md-1">
        {include file="common/nav" /}
        </div>
      <div class="col-md-5 col-12 position-relative adopt_left_bg">
        <img style="top: 1rem;left: 25%; z-index: 99;" class="logo position-absolute d-none d-md-block" src="__CDN__/assets/img/frontend/home page-流浪動物照護協會@2x.png" alt="">
        <div class="m-md-5 p-md-5 contact_left">
          <div class="d-flex ms-md-5 mt-md-4 ">
            <p class="fs-2 mb-0 genSenRounded">認養者資訊已上傳 !</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="container p-md-5">
          <div class="row">
            <div class="col-md-2 col-12">
              <h2>1.</h2>
              <h2>旺來</h2>
            </div>
            <div class="col-md-10 col-12 d-flex justify-content-end">
              <img class="w-50 rounded-5" src="https://images.dog.ceo/breeds/spaniel-blenheim/n02086646_309.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          <div style="color:#000000CC">
            <p>感謝xxx！我們已經收到您寄送的認養資訊；</p>
            <p>7-14個工作日我們的園區工作人員會與您聯絡確認，</p>
            <p>再一次感謝您的愛心 ！！！</p>
            <div class="submit_wrap">
              <div class="mt-2 d-flex justify-content-end">
                <!-- <div class="d-flex justify-content-end col-xs-12 col-sm-10"> -->
                  <button type="submit" class="btn text-dark display-1"  onclick="location.href='__CDN__'">
                    <h2>回首頁<img style="max-height: 3rem;" src="__CDN__/assets/img/frontend/adopt/認養頁面-回首頁圖標-icon@2x.png" alt=""></h2>
                  </button>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {include file="common/script" /}
  </body>
</html>
