<!DOCTYPE html>
<html>
  <head>
    {include file="common/meta" /}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="genSenRounded bg_c">
    <div class="row g-0">
      <div class="col-md-1">{include file="common/nav" /}</div>
      <div class="col-md-5 col-12 position-relative adopt_left_bg">
        <img
          style="top: 1rem; left: 25%; z-index: 99"
          class="logo position-absolute d-none d-md-block"
          src="__CDN__/assets/img/frontend/home page-流浪動物照護協會@2x.png"
          alt=""
        />
        <div class="m-md-5 p-md-5 contact_left">
          <div class="d-flex ms-md-5 mt-md-4">
            <p class="fs-2 mb-0 genSenRounded">認養者資訊填寫</p>
            <img
              style="max-height: 2.5rem; width: auto"
              src="__CDN__/assets/img/frontend/adopt/認養頁面-認養者資訊填寫-向右箭頭@2x.png"
              alt=""
            />
          </div>
          <p class="ms-md-5" style="color: #00000080">請填寫右側表單</p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="container p-md-5">
          <div class="row">
            <div class="col-md-2 col-12">
              <h2>{$id}.</h2>
              <h2>{$name}</h2>
            </div>
            <div class="col-md-10 col-12 d-flex justify-content-end">
              <img
                class="w-50 rounded-5"
                src="{$img}"
                class="card-img-top"
                alt="..."
              />
            </div>
          </div>
          <div class="pet_content">
            <form
              id="adopt-form"
              class="form-horizontal"
              role="form"
              data-toggle="validator"
              method="POST"
              action="{:url('api/adopt/add')}"
            >
              {:token()}
              <div class="form-group mt-3 row">
                <label for="name" class="control-label col-xs-12 col-sm-3"
                  >認養人姓名 ：</label
                >
                <div class="col-xs-12 col-sm-9">
                  <input
                    type="text"
                    class="form-control text-secondary bg-transparent border-start-0 border-end-0 border-top-0 rounded-0"
                    id="name"
                    name="name"
                    value=""
                    data-rule="required"
                    placeholder=""
                    autocomplete="off"
                  />
                </div>
                <label for="family" class="control-label col-xs-12 col-sm-3"
                  >家庭現有成員：</label
                >
                <div class="col-xs-12 col-sm-9">
                  <input
                    type="text"
                    class="form-control text-secondary bg-transparent border-start-0 border-end-0 border-top-0 rounded-0"
                    id="family"
                    name="family"
                    value=""
                    data-rule="required"
                    placeholder=""
                    autocomplete="off"
                  />
                </div>
                <label for="room" class="control-label col-xs-12 col-sm-3"
                  >居住房型：</label
                >
                <div class="col-xs-12 col-sm-9">
                  <input
                    type="text"
                    class="form-control text-secondary bg-transparent border-start-0 border-end-0 border-top-0 rounded-0"
                    id="room"
                    name="room"
                    value=""
                    data-rule="required"
                    placeholder=""
                    autocomplete="off"
                  />
                </div>
                <label for="hadpet" class="control-label col-xs-12 col-sm-3"
                  >是否養過寵物：</label
                >
                <div class="col-xs-12 col-sm-9">
                  <select  id="hadpet" class="form-control" name="hadpet" data-rule="required">
                    <option value="" selected>請選擇</option>
                    <option value="是">是</option>
                    <option value="否">否</option>
                </select>
                </div>
                <!-- <div class="col-xs-12 col-sm-9">
                  <input
                    type="text"
                    class="form-control text-secondary bg-transparent border-start-0 border-end-0 border-top-0 rounded-0"
                    id="hadpet"
                    name="hadpet"
                    value=""
                    data-rule="required"
                    placeholder=""
                    autocomplete="off"
                  />
                </div> -->
                <label for="email" class="control-label col-xs-12 col-sm-3"
                  >Email:</label
                >
                <div class="col-xs-12 col-sm-9">
                  <input
                    type="text"
                    class="form-control text-secondary bg-transparent border-start-0 border-end-0 border-top-0 rounded-0"
                    id="email"
                    name="email"
                    value=""
                    data-rule="required"
                    placeholder=""
                    autocomplete="off"
                  />
                </div>
                <label for="phone" class="control-label col-xs-12 col-sm-3"
                  >聯絡電話：</label
                >
                <div class="col-xs-12 col-sm-9">
                  <input
                    type="text"
                    class="form-control text-secondary bg-transparent border-start-0 border-end-0 border-top-0 rounded-0"
                    id="phone"
                    name="phone"
                    value=""
                    data-rule="required"
                    placeholder=""
                    autocomplete="off"
                  />
                </div>
                <label for="img" class="control-label col-xs-12 col-sm-3"
                  >提供飼養環境照片(2MB以下)：</label
                >
                <div class="col-xs-12 col-sm-9">
                    <button type="button" class="btn faupload" data-input-id="img" data-maxsize="2m" data-mimetype="image/jpeg,image/png,image/jpg" data-multiple="true" data-preview-id="p-img">選擇圖片</button>
                    <input id="img" name="img" type="hidden" value="" data-rule="required">
                    <ul class="row list-inline faupload-preview" id="p-img"></ul>
                </div>
              </div>
              <!-- 隱藏值 -->
              <input id="pet_id" name="pet_id" type="hidden" value="{$id}" data-rule="required">
              <div class="submit_wrap">
                <div class="mt-2 d-flex justify-content-end">
                  <button
                    type="submit"
                    class="btn text-dark display-1"
                    >
                    <!-- onclick="location.href='done'" -->
                    <h2>確認認養!</h2>
                  </button>
                  <!-- </div> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {include file="common/script" /}
  </body>
</html>
